<button mat-button color="primary" [routerLink]="['/contacts']">
  <h1>Contact List</h1>
</button>
<div class="add-form-container">
  <form action="" class="ui-big-form">
    <div class="fields">
      <div class="eight wide field">
        <label>First Name</label>
        <input
          type="text"
          name="firstName"
          id="firstName"
          placeholder="First Name"
        />
      </div>
      <div class="eight wide field">
        <label>Last Name</label>
        <input
          type="text"
          name="lastName"
          id="lastName"
          placeholder="Last Name"
        />
      </div>
      <div class="field">
        <label>Address</label>
        <input type="text" placeholder="Address" name="address" />
      </div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
